* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 120ch;
  margin: 0 auto;
}

p {
  font-size: 5rem;
}

.noselect{
  user-select: none;
  cursor: default;
}
