:root {
  --bg-color: rebeccapurple;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  display: grid;
  place-items: center;
  background-color: var(--bg-color);
  color: #fff;
}

main {
  padding: 1rem;
  outline: 2px dashed grey;
  max-width: 80ch;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

footer {
}
