* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, serif;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 120ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

p:target {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    background: transparent;
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    background: yellow;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    background: yellow;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    background: yellow;
  }
}
