* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, serif;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 120ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

p:target {
  background: yellow;
}
