@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
}

.card {
  position: relative;
  width: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  transition: width 2s ease-in;
}

.active {
  width: 640px;
  transition: width 2s ease-in-out;
}

.legend {
  position: absolute;
  bottom: 0;
  padding: 5px;
  color: white;
}
