:root {

}

.wrapper {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
}

.container {
  max-width: 80ch;
  box-shadow: inset 0 0 0 2px #ccc;
  padding: 1rem 0;
  display: flex;
}

.column {
  margin: 2rem;
  background-color: #ccc;
}

.element {
  padding: 0.5rem;
  background-color: rebeccapurple;
  color: #fff;
  height: 100%;
}
