:root {
  --bg-color: rebeccapurple;
}

body{
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: grid;
  place-items: center;
  background-color: var(--bg-color);
  color: #fff;
}

main {
  padding: 1rem;
  margin: 0 auto;
  outline: 2px dashed grey;
  max-width: 80ch;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

footer {
  margin-top: auto;
}
