* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 1rem;
  max-width: 120ch;
  margin: 0 auto;
  outline: 2px dashed grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 2rem;
  margin: 1rem;
}

input {
  max-width: 20ch;
  margin: 5px;
}

button {
  margin: 5px;
  width: 100%;
  max-width: 20ch;
}

.ninja {
  outline: none;
}
