* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}

#drop {
  width: 500px;
  min-height: 500px;
  border-radius: 50%;
  background-color: red;
  cursor: grab;
}
