#results {
  padding: 50px;
  background: #bebebe;
  border-radius: 10px;
  list-style: square;
  font-family: Arial, serif;
  font-size: 2rem;
}

#results li.pass {
  color: green;
}

#results li.fail {
  color: red;
}

#results li.report {
  color: darkslategray;
}
